body {
  background-image: url("../images/background-movies-series.png");
  background-size: cover;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Peguei do styles.global, da Footer */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
}


.footerlink {
  font-family: 'raleway', sans-serif;
  font-weight: bold;
  color: var(--link-color);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 14px;
  letter-spacing: 2px;
  font-size: 0.875rem;
  transition: color 0.5s;
}

.footerlink:hover {
  color: var(--text-color);
}

.footerlegal {
  font-size: 0.75rem;
  color: var(--link-color);
  margin: 0 16px;

  /* do textsmall */
  font-size: 1rem;
  font-weight: 300;
}

.footersocial {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
  gap: 40px;
}

.footersocialink {

  font-family: 'raleway', sans-serif;
  font-weight: bold;
  color: var(--link-color);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 14px;
  letter-spacing: 2px;
  font-size: 0.875rem;
  transition: color 0.5s;

}


/* Peguei do styles.global */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", cursive;
  width: 100%;
  height: 70%;
  padding: 24px;
}

.menu {
  position: relative;
}

.login {
  width: 100%;
  max-width: 800px;
  background-color: var(--form-bg-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
}

.logintitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 24px;
}

.loginlabel {
  text-align: left;
}

.loginfield {
  background: var(--form-field-bg-color);
  border: var(--form-field-border);
  border-radius: 8px;
  color: var(--text-color);
  padding: 16px;
  font-size: 1rem;
}

.loginfield::placeholder {
  color: var(--form-field-placeholder);
}

.loginfield:invalid {
  border-color: var(--form-field-error);
}

.loginactions {
  margin-top: 24px;
  text-align: left;
}

.loginlink {

  color: var(--link-color);
  font-family: 'raleway', sans-serif;
  text-decoration: none;
  margin-left: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;

}

.loginlink:hover {

  color: var(--text-color);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  transform: scale(1.05);


}

/* Media Queries */

@media screen and (max-width: 480px) {
  body {
    height: auto;
  }

  .loginactions .button {
    display: block;
    margin-bottom: 24px;
  }

  .loginlink {
    margin: 0;
  }
}


/* Peguei do styles.global, button da Principal */

.button {
  background-color: var(--tertiary-color);
  border-radius: 500px;
  padding: 16px 40px;
  cursor: pointer;
  color: var(--text-color);
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration: none;
}

.button:hover {

  background-color: var(--secondary-color);
  background-position: 100%;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
  transition: 0.5s;

}